<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Article Editor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <div id="articlemaker" class="hidden">
        <form action="/articlemake" enctype="multipart/form-data" method="post">
            <input type="file" name="articleimage" accept="image/*">
            <textarea name="articletext" id="" cols="30" rows="10"></textarea>
            <input type="submit" value="افزودن مقاله">
        </form>
    </div>
</body>
</html>