<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>sign up</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <link rel="stylesheet" type="text/css" media="screen" href="main.css" /> -->
        <!-- <script src="main.js"></script> -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
        <link rel='stylesheet' href='/stylesheets/signupstyle.css' />
    </head>
    <body dir="rtl ">
        <%= message %>

        <div class="fullscreen-vh pdd-0 background">
            <div class="fullscreen-pcnt pdd-0 mg-0">
                <div class="row fullscreen-pcnt pdd-0 mg-0">
                    <div class="col-8 offset-2 pdd-t-20">
                        <div dir="rtl" class="login-card col-12 fullscreen-pcnt shadow-lg p-5 bg-white">
                            <div class="col-12 text-center">
                                <h3>ثبت‌نام</h3>
                            </div>
                            <div class="credentials col-12 fullscreen-pcnt p-4 text-right">
                                <form action="/signup" method="POST" enctype="multipart/form-data" id="signupform">
                                    <div class="d-flex form-group col-12 align-content-end mt-5">
                                        <div class="col-4">
                                            <label for="firstName" class="">نام</label>
                                            <input type="text" class="textbox" name="firstName">
                                        </div>
                                        <div class="col-4">
                                            <label for="lastName" class="">نام خانوادگی</label>
                                            <input type="text" class="textbox" name="lastName">
                                        </div>
                                        <div class="col-4">
                                            <legend class="col-form-label">جنسیت</legend>
                                            <label for="sex">مرد</label>
                                            <input type="radio" name="sex" value="1">
                                            <label for="sex">زن</label>
                                            <input type="radio" name="sex" value="0">
                                            <label for="sex">غیره</label>
                                            <input type="radio" name="sex" value="2">
                                        </div>
                                    </div>
                                    <div class="d-flex form-group col-12 align-content-end mt-5">
                                        <div class="col-4">
                                            <label for="username">نام کاربری</label>
                                            <input type="text" class="textbox" name="username">
                                        </div>
                                        <div class="col-4">
                                            <label for="password">رمز عبور</label>
                                            <input type="password" id="password" class="textbox" name="password">
                                        </div>
                                        <div class="col-4">
                                            <label for="password2">تکرار رمز عبور</label>
                                            <input type="password" id="password2" class="textbox" name="password2">
                                        </div>
                                    </div>
                                    <div class="d-flex form-group col-12 align-content-end mt-5">
                                        <div class="col-4">
                                            <label for="img">انتخاب عکس</label>
                                            <input disabled type="file" accept="image/*" name="img" id="avatarpicker">
                                        </div>
                                        <div class="col-4">
                                            <label for="img">شماره</label>
                                            <input type="number" id="phone" class="textbox" name="mobile">
                                        </div>
                                        <div class="col-4 pt-4 d-flex justify-content-center">
                                            <input type="button" class="submitbutton button col-11" value="ثبت‌نام">
                                        </div>
                                    </div>
                                    <p id="error"></p>
                                    <div class="d-flex form-group col-12 align-content-end"></div>
                                    <div class="d-flex form-group col-12 align-content-end"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 
            dont go forth, for here lies the whicked "LEGACY COWD"
            <div class="container loginbackground fullscreen-vh col-12">
            <div class="row fullscreen-pcnt">
                <div class="mg-auto row" dir="rtl">
                    <div class="col-12 loginbox-mod">
                        <div class="col-12">
                            <h3>ثبت‌نام</h3>
                        </div>
                        <div class="col-12">
                            <form action="/signup" method="POST">
                                <div class="form-group col-12">
                                    <p>نام</p>
                                    <input type="text" class="textbox" name="firstName" placeholder="نام">
                                    <input type="text" class="textbox" name="lastName" placeholder="نام خانوادگی">
                                    <button>بعدی</button>
                                </div>
                                <div class="form-group">
                                    <p>نام کاربری</p>
                                    <input type="text" class="textbox" name="username" placeholder="نام کاربری">
                                    <button>بعدی</button>
                                </div>
                                <div class="form-group">
                                    <p>رمز عبور</p>
                                    <input type="password" class="textbox" name="password" placeholder="رمز">
                                    <input type="password" class="textbox" name="password2" placeholder="تکرار رمز">
                                    <button>بعدی</button>
                                </div>
                                <div class="form-group">
                                    <p>جنسیت</p>
                                    <legend class="col-form-label">جنسیت</legend>
                                    <label for="sex">مرد</label>
                                    <input type="radio" name="sex" value=1>
                                    <label for="sex">زن</label>
                                    <input type="radio" name="sex" value=0>
                                    <label for="sex">غیره</label>
                                    <input type="radio" name="sex" value=2>
                                </div>
                                <div class="form-group">
                                <p>انتخاب تصویر</p>
                                    آواتار
                                </div>
                                <div class="form-group">
                                    <p>ایمیل</p>
                                    <input type="text" class="textbox" name="mobile" placeholder="تلفن هم‌راه">
                                    <input type="submit" value="ثبت‌نام">
                                </div>
                                <div class="form-group">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="/scripts/signup.js"></script>
    </body>
</html>