<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>FUCKING TEST.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <%= username %>
    <!-- <form action="/image" enctype="multipart/form-data" method="post">
        <input type="file" name="img">
        <input type="submit" value="submit">
    </form> -->
    <a href="/logout">log out</a>
</body>
</html>