@font-face {
    font-family: 'Parastoo';
    src: url('../fonts/Parastoo.eot');
    src: url('../fonts/Parastoo.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Parastoo.woff') format('woff'),
        url('../fonts/Parastoo.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Parastoo-bold';
    src: url('../fonts/Parastoo-Bold.eot');
    src: url('../fonts/Parastoo-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Parastoo-Bold.woff') format('woff'),
        url('../fonts/Parastoo-Bold.ttf') format('truetype');
    font-weight: bold;
}

* {
    box-sizing: border-box;
}
body {
    font-family: 'Parastoo';
}
.loginbackground {
    background-image: linear-gradient(45deg, #3CD500, #FFF720);
}
.fullscreen-vh {
    height: 100vh;
}
.fullscreen-pcnt {
    height: 100%;
}
.mg-0 {
    margin: 0;
}
.mg-auto {
    margin: auto;
}
.loginbox-mod {
    background-color: white !important;
    padding: 10px;
    border-radius: 5px;
}
.textbox {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: rgb(40, 139, 0) solid 2px;
}
::placeholder {
    color: rgb(40, 139, 0);
    opacity: 1;
}